.organizers {
  font-family: "Roboto", sans-serif;
  max-width: 1040px;
  text-align: center;
  width: 100%;

  &-title {
    color: #403900;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.7px;
  }

  &-description {
    color: #807300;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 48px;
  }

  &-grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, 330px);
    justify-content: center;
    width: 100%;
  }
}
