.menu-btn {
  display: block;
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transform: none;
  transition: all 0.5s ease-out;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: rgb(153, 153, 153);
    transition: all 0.5s ease-out;
  }

  &.open {
    .btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &:nth-child(2) {
        transform: scale(0);
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }

  @media (min-width: 640px) {
    display: none;
  }
}
