.navbar {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 80px;
  justify-content: space-between;
  padding: 24px;
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
  width: 100%;

  &__icon {
    width: 118px;
  }


  &__right {
    display: flex;
    height: 64px;
    align-items: center;

    .section-links {
      align-items: center;
      display: none;
      height: 64px;
      margin: 0;
      list-style: none;
      padding: 0 16px;
      text-transform: uppercase;

      li {
        a {
          text-decoration: none;
          color: #403900;
          padding: 8px;

          &.active,
          &:hover {
            color: #807300;
            text-decoration: underline;
          }
        }
      }
    }

    .chakra-button {
      display: none;
      text-transform: uppercase;
    }

    .menu {
      display: block;
      color: #403900;
    }
  }


  @media (min-width: 640px) {
    padding: 24px 80px;

    .section-links {
      display: flex;
    }

    .chakra-button {
      display: block;
    }

    .menu {
      display: none;
    }
  }
}
